
h1 /* corresponds to the titles of the calc for % and max rep */
{ 
  font-family: 'Titillium Web', sans-serif;
//  color: white;
  display: inline;
  position: relative;
  left: 480px;
}

.bgtitle /*the black background of the title*/
{
   background: #1e1e1e;
   padding: 10px;
}

.track /*second part of title that says "tracker"*/
{
  font-style:italic;
  font-weight: bold;
  font-size: 40px;
}

.work /*first part of title that says "workout"*/
{
  color: #da635d;
}


body{ /*adjusted margins on body*/
  margin: 0;
  padding: 0;
}

.titlecalc /* corresponds to the titles of the calc for % and max rep and excersize*/
{
  font-family: 'Titillium Web', sans-serif;
  color: #da635d;
  background: #1e1e1e;
  border-style: solid;
  border-color: #da635d;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.one-rep /*corresponds to only the inputs of "one-rep" class*/
{
  
}

.bgcalc /* a div encapulates the two calculatations */
{
    padding: 10px;
    background: #4e4e56;
    float:left;
    display:inline-block;
    vertical-align:top;
    height: 100%;
    text-align: center;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

div /*style the calc text*/
{
  font-family: 'Titillium Web', sans-serif;
//  color:white;
}
