
h1 /* corresponds to the titles of the calc for % and max rep */
{
  font-family: 'Titillium Web', sans-serif;
  color: white;
  display: inline;
  /*position: relative;
  left: 500px;*/
}

h2
{
  font-family: 'Titillium Web', sans-serif;
  color: black;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 30%;
  line-height: 100px;
  margin-top: -100px;
  font-size: 300%;
}

.bgtitle /*the black background of the title*/
{
   background: #1e1e1e;
   padding: 10px;
   background-image: url("images/texture.png");
}

.track /*second part of title that says "tracker"*/
{
  font-style:italic;
  font-weight: bold;
  font-size: 40px;
}

.work /*first part of title that says "workout"*/
{
  color: #da635d;
}


body{  /*adjusted margins on body and texture includes*/
  margin: 0;
  padding: 0;
  background-image: url("images/texture2.png");
}

.titlecalc, caption /* corresponds to the titles of the calc for % and max rep and excersize*/
{
  font-family: 'Titillium Web', sans-serif;
  color: #da635d;
  background: #1e1e1e;
  border-style: solid;
  border-color: #da635d;
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.workouts /*workouts section*/
{
  padding: 15px;
  float:left;
  display:inline-block;
  vertical-align:top;
  height: 863px;
  width: 35%;
  text-align: center;
  overflow-y:auto;
}

table, td, th
{
  border: 1px solid black;
  width: 120px;
}

table /*table for the workout*/
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}

th, td {
    padding: 10px;
}

.graphprog /*graph section*/
{
  padding: 10px;
  background: #4e4e56;
  float:right;
  display:inline-block;
  vertical-align:top;
  height: 873px;
  width: 30%;
  text-align: center;
  color: white;
}

html, body
{
    height: 94.8%;
    width: 100%;
}

.calculations /* includes both rep calculations and execsize */
{
    padding: 10px;
    background: #4e4e56;
    float:left;
    display:inline-block;
    vertical-align:top;
    height: 873px;
    width: 30%;
    text-align: center;
    color:white;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

div /*style the calc text*/
{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

input /*most the forms input widths*/
{
  width: 100%;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #4e4e56;
}
